
		body{
			background-color: #fdfdfd;
			overflow: hidden;
			min-width: 1000px;
		}
		#header{
			position: fixed;
			width: 100%;
			height: 165px;
			z-index: 400;
		}
		.header_bg{
			position: absolute;
			background-color: #f4f4f4;
			height: 100%;
			width: 100%;
		}
		#header .menu{
			position: relative;
			margin: 0 auto;
			top:25px;
			width: 1000px;
			height: 100px;
		}
	
		#header .nav {
			position: relative;
			display: inline;
			float: left;
			letter-spacing: 1.5px;
			margin: 25px;
			padding: 10px;
			top:40px;
			left: 35px;
			text-decoration: none;
			font-family: 'Raleway', sans-serif;
			font-size: 16.5px;
			color: #3a3e43;
			cursor: pointer;
		}

		/*ie10的hack*/
		#header .nav {left: 52px\0/;}
		#header .nav {padding-right: 20px\0/;}
		/*ie10的hack*/
		
		#header .nav:hover,#header .nav.acted{
			border-bottom: 1px solid #5e6671;
		}
		#header .hover_none{
			color: transparent;
		}
		#header .hover_none:hover{
			border-bottom: 1px solid transparent;
		}
		#header .nav .text a{
			text-decoration: none;
			color: #3a3e43;
		}
		#header .menu #nav_logo{
			position: absolute;
			width: 150px;
			height: 230px;
			left: 415px;
		-webkit-animation: logo_move 2s;
			-o-animation: logo_move 2s;
			animation: logo_move 2s;
		}
		@-webkit-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@-o-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@-moz-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		#header .menu #nav_logo img{
			position: relative;
			margin: 0 auto;
		}
		#header_outbox{
			position: relative;
			height: 165px;
			width: 100%;

		}
		
		
		#container{
			position: absolute;
			width: 100%;
			height: 100%;
			top:165px;
			overflow: scroll;
			overflow-x:hidden;
		}
		.container_box{
			position: relative;
			width: 900px;
			height: 1600px;
			padding-top: 120px;
			margin: 0 auto;
		}

		#container .productname{
			position: relative;
			width: 600px;
			height: 200px;
			font-family: 'Poiret One', cursive;
			font-size: 65pt;
			font-style: italic;
			color: #3a3e43;
			text-align: center;
			top:30px;
			margin: 0 auto;
			left:-20px;
			letter-spacing: 7px;
		}
		#container .productname span{
			position: relative;
			color: #3a3e43;
			font-family: Microsoft JhengHei,arial,sans-serif;
			font-style: normal;
			font-size: 11pt;
			top:-40px;
			left:14px;
			letter-spacing: 3px;

		}
		#container .text_big{
			position: relative;
			float: left;
			top:40px;
			width: 250px;
			height: 600px;
			-webkit-animation: textin 2.5s;
			-o-animation: textin 2.5s;
			animation: textin 2.5s;

		}
		@-webkit-keyframes textin {
			0% { top:-10px;opacity: 0; }
			40% { top:-10px;opacity: 0; }
			100% { top:40px;opacity: 1; }
		}
		@-o-keyframes textin {
			0% { top:-10px;opacity: 0; }
			40% { top:-10px;opacity: 0; }
			100% { top:40px;opacity: 1; }
		}
		@-moz-keyframes textin {
			0% { top:-10px;opacity: 0; }
			40% { top:-10px;opacity: 0; }
			100% { top:40px;opacity: 1; }
		}
		@keyframes textin {
			0% { top:-10px;opacity: 0; }
			40% { top:-10px;opacity: 0; }
			100% { top:40px;opacity: 1; }
		}
		
		#container .text_big #title{
			color: #303030;
			font-family: Microsoft JhengHei,sans-serif;
			font-size: 18pt;
			/*font-weight: thin;*/

		}
		#container .text_big .chinese{
			color: #303030;
			font-family: Microsoft JhengHei,arial,sans-serif;
			font-size: 10pt;
			letter-spacing: 4px;
			line-height: 24px;

		}
		#container .text_big .english{
			color: #303030;
			font-family: Microsoft JhengHei,sans-serif;
			font-size: 9.5pt;
			letter-spacing: 1px;
			line-height: 29px;

		}
		#container .picture{
			position: relative;
			float: right;
			width: 540px;
			height: 1200px;
			top:45px;
			-webkit-animation: fadein 2.5s;
			-o-animation: fadein 2.5s;
			animation: fadein 2.5s;
		}
		@-webkit-keyframes fadein {
			0% { top:90px;opacity: 0; }
			40% { top:90px;opacity: 0; }
			100% { top:45px;opacity: 1; }
		}
		@-o-keyframes fadein {
			0% { top:90px;opacity: 0; }
			40% { top:90px;opacity: 0; }
			100% { top:45px;opacity: 1; }
		}
		@-moz-keyframes fadein {
			0% { top:90px;opacity: 0; }
			40% { top:90px;opacity: 0; }
			100% { top:45px;opacity: 1; }
		}
		@keyframes fadein {
			0% { top:90px;opacity: 0; }
			40% { top:90px;opacity: 0; }
			100% { top:45px;opacity: 1; }
		}
		#container .picture img{
			padding-bottom: 30px;
		}
		#container #topicon{
			position: relative;
			width: 80px;
			height: 80px;
			margin: 0 auto;
			top:90px;
			left: -10px;
			cursor: pointer;
			clear: both;
			text-align: center;
			line-height: 25px;
		}
		
		
		#footer{
			position: relative;
			background-color: #f4f4f4;
			height: 120px;
			width: 100%;
			bottom: 0px;
		}

		#footer .footer_content{
			position: relative;
			width: 1000px;
			height: 120px;
			margin: 0 auto;
			color: #303030;
			font-family: Microsoft JhengHei,arial,sans-serif;
			font-size: 9pt;
			top:-5px;

		}

	