	
		body{
			background-color: #fdfdfd;
		}
		/*ie10的hack*/
		body {overflow-y: scroll\0/;}
		/*ie10的hack*/
		#header{
			position: fixed;
			width: 100%;
			height: 165px;
			z-index: 400;
		}
		.header_bg{
			position: absolute;
			background-color: #f4f4f4;
			height: 165px;
			width: 100%;
		}
		#header .menu{
			position: relative;
			margin: 0 auto;
			top:25px;
			width: 1000px;
			height: 100px;
		}
	
		#header .nav {
			position: relative;
			display: inline;
			float: left;
			letter-spacing: 1.5px;
			margin: 25px;
			padding: 10px;
			text-decoration: none;
			top:40px;
			left: 35px;
			font-family: 'Raleway', sans-serif;
			font-size: 16.5px;
			color: #3a3e43;
		}

		/*ie10的hack*/
		#header .nav {left: 52px\0/;}
		#header .nav {padding-right: 20px\0/;}
		/*ie10的hack*/

		
		#header .nav:hover,#header .nav.acted{
			border-bottom: 1px solid #5e6671;
		}
		#header .hover_none{
			color: transparent;
		}
		#header .hover_none:hover{
			border-bottom: 1px solid transparent;
		}
		#header .nav .text a{
			text-decoration: none;
			color: #3a3e43;
		}
		#header .menu #nav_logo{
			position: absolute;
			left: 413px;
		-webkit-animation: logo_move 2s;
			-o-animation: logo_move 2s;
			animation: logo_move 2s;
		}
		@-webkit-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@-o-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@-moz-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		
		#container{
			position: relative;
			opacity: 1;
			top:0px;
			-webkit-animation: fadein 1.4s;
			-o-animation: fadein 1.4s;
			animation: fadein 1.4s;

		}
		@-webkit-keyframes fadein {
			0% { opacity: 0; }
			10% { opacity: 0; top:-30px;}
			100% { opacity: 1;top:0px;}
		}
		@-o-keyframes fadein {
			from { opacity: 0;top:-30px;}
			to { opacity: 1;top:0px;}
		}
		@-moz-keyframes fadein {
			from { opacity: 0;top:-30px;}
			to { opacity: 1;top:0px;}
		}
		@keyframes fadein {
			from { opacity: 0; top:-30px;}
			to { opacity: 1;top:0px;}
		}
		#container{
			position: relative;
			width: 880px;
			height: 840px;
			margin: 0 auto;
		}
		#container .fakebox{
			position: relative;
			width: 100%;
			height: 300px;

		}
		#container .map img{
			position: relative;
			left:6px;
			top:10px;
		}
		
		
		

