		#footer{
			position: relative;
			background-color: #f4f4f4;
			height: 120px;
			width: 100%;
			bottom: 0px;
			z-index: 100;
		}

		#footer .footer_content{
			position: relative;
			width: 1000px;
			height: 120px;
			margin: 0 auto;
			color: #303030;
			font-family: Microsoft JhengHei,arial,sans-serif;
			font-size: 9pt;
			top:-5px;

		}
		#footer .footer_content .text{
			position: relative;
			display: inline;
			top:60px;
			/*float: left;*/
			padding: 35px;
		}
		#footer .footer_content .text #adress{
			letter-spacing: 2px;
		}
		#footer .footer_content .text .engcss{
			letter-spacing: 1px;
		}
		#footer .footer_content a{
			color: #303030;
		}
		#footer .footer_content .line{
			width: 1px;
			height: 40px;
			background-color: #bec3c6;
		}
		#footer .footer_content #left{
			position: absolute;
			left:405px;
			top:47px;
		}
		#footer .footer_content #right{
			position: absolute;
			right:375px;
			top:47px;
		}
