body{
	background-color: #fdfdfd;
	min-width: 1000px;
	min-height: 600px;
	overflow: hidden;
}
.bigbg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/bigbg_pic.jpg);
	opacity: 0.9;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	transition:0.5s ease;
}
#logo{
	position: absolute;
	width: 14%;
	height: 41%;
	left: 50%;
	top:50%;
	margin-left: -7%;
	margin-top: -13%;
	z-index: 500;
}
#logo img{
	width: 99%;
	height: auto;
}
.menu{
	position: absolute;
}
.menu li{
	float: left;
	display: inline;
	margin: 5px;
}

.nav{
	position: relative;
	display: block;
	width: 230px;
	height: 230px;
	background-color: #fff;
	border-radius: 50%;
	z-index: 500;
}
.navnone{
	background-color: transparent;
	cursor: none;
}
