		body{
			min-width: 1000px;
			background-color: #fdfdfd;
			overflow-x: hidden;
		}
		
		#header{
			position: fixed;
			width: 100%;
			height: 165px;
			z-index: 400;
		}
		.header_bg{
			position: absolute;
			background-color: #f4f4f4;
			height: 165px;
			width: 100%;
		}
		#header .menu{
			position: relative;
			margin: 0 auto;
			top:25px;
			width: 1000px;
			height: 100px;
		}
	
		#header .nav {
			position: relative;
			display: inline;
			float: left;
			letter-spacing: 1.5px;
			margin: 25px;
			padding: 10px;
			text-decoration: none;
			top:40px;
			left: 35px;
			font-family: 'Raleway', sans-serif;
			font-size: 16.5px;
			color: #3a3e43;
		}
		/*ie10的hack*/
		#header .nav {left: 52px\0/;}
		#header .nav {padding-right: 20px\0/;}
		/*ie10的hack*/

		#header .nav:hover{
			border-bottom: 1px solid #5e6671;
		}
		#header .hover_none{
			color: transparent;
		}
		#header .hover_none:hover{
			border-bottom: 1px solid transparent;
		}
		#header .nav .text a{
			text-decoration: none;
			color: #3a3e43;
		}
		#header .menu #nav_logo{
			position: absolute;
			top:0px;
			left: 413px;
			opacity: 1;
			-webkit-animation: logo_move 2.5s;
			-o-animation: logo_move 2.5s;
			animation: logo_move 2.5s;
		}
		@-webkit-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@-o-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@-moz-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		
		#container{
			position: relative;
			width: 100%;
			height: 970px;
			background-color: #fdfdfd;
			left: 50%;
			margin: 0 0 0 -953px;
		}
		#container #greenball{
			position: absolute;
			top:239px;
			left: 468px;
			z-index: 9;
			-webkit-animation: greenball infinite 3s;
			-o-animation: greenball infinite 3s;
			animation: greenball infinite 3s;
		}
		@-webkit-keyframes greenball {
			0% { top:239px; }
			50% { top:260px; }
			100%{ top:239px;}
		}
		@-o-keyframes greenball {
			0% { top:239px; }
			50% { top:260px; }
			100%{ top:239px;}
		}
		@-moz-keyframes greenball {
			0% { top:239px; }
			50% { top:260px; }
			100%{ top:239px;}
		}
		@keyframes greenball {
			0% { top:239px; }
			50% { top:260px; }
			100%{ top:239px;}
		}
		#container #elephantball{
			position: absolute;
			top:239px;
			left: 1125px;
			z-index: 9;
			-webkit-animation: elephantball infinite 3s;
			-o-animation: elephantball infinite 3s;
			animation: elephantball infinite 3s;
		}
		@-webkit-keyframes elephantball {
			0% { top:239px; }
			50% { top:225px; }
			100%{ top:239px;}
		}
		@-o-keyframes elephantball {
			0% { top:239px; }
			50% { top:225px; }
			100%{ top:239px;}
		}
		@-moz-keyframes elephantball {
			0% { top:239px; }
			50% { top:225px; }
			100%{ top:239px;}
		}
		@keyframes elephantball {
			0% { top:239px; }
			50% { top:225px; }
			100%{ top:239px;}
		}
		#container #pink{
			position: absolute;
			top:50px;
			left: 1579px;
			z-index: 10;
			-webkit-transform: scale(0.95);
			-moz-transform: scale(0.95);
			-ms-transform: scale(0.95);
			-o-transform: scale(0.95);
			transform: scale(0.95);
			-webkit-animation: pinkmove 4s infinite;
			-o-animation: pinkmove 4s infinite;
			animation: pinkmove 4s infinite;
		}
		@-webkit-keyframes pinkmove {
			0% { left:1579px;
			-webkit-transform: scale(0.95);
			-moz-transform: scale(0.95);
			-ms-transform: scale(0.95);
			-o-transform: scale(0.95);
			transform: scale(0.95) }
			50%{ left:1572px;
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1)}
			100% { left: 1579px;
			-webkit-transform: scale(0.95);
			-moz-transform: scale(0.95);
			-ms-transform: scale(0.95);
			-o-transform: scale(0.95);
			transform: scale(0.95) }
		}

		#container #redball{
			position: absolute;
			top:215px;
			left: 1521px;
			z-index: 7;
		}
		#container #treehouse{
			position: absolute;
			bottom:-100px;
			left: 728px;
			z-index: 10;
		}
		#container #bluebg{
			position: absolute;
			top:490px;
			left: 845px;
			z-index: 5;
		}
		#container #blackbg{
			position: absolute;
			top:-35px;
			left: -250px;
			z-index: 5;
			-webkit-animation: blackbgmove 4s infinite;
			-o-animation: blackbgmove 4s infinite;
			animation: blackbgmove 4s infinite;
		}
		@-webkit-keyframes blackbgmove {
			0% { left:0px; }
			50% {left:-10px; }
			100%{left:0px;}
		}

		#container #stonebg{
			position: absolute;
			top:720px;
			left: 150px;
			z-index: 6;
		}
		#container #grapeball{
			position: absolute;
			top:580px;
			left: 45px;
			z-index: 7;
			-webkit-animation: ;
			-o-animation: ;
			animation: ;
		}
		#container #blueball{
			position: absolute;
			top:280px;
			left: 980px;
			z-index: 7;
		}
		