body{
	display:none;
}
#jpreOverlay {
	background-color:#fdfdfd;
}
#jpreSlide{
}

#jpreLoader{
	background:url(logo_big.png) center top no-repeat;
	padding-top:100px;
	margin-left: -15px;
	margin-top:-180px;
	width:147px;
	height:230px;
}

#jpreBar {
	border-radius:3px;
	/*background:#bebebe;*/
}
#jprePercentage {
	color:#5e6671;
	font-family:"Calibri";
	text-align:center;
	font-size:13px;
	line-height:2px;
	margin-top:-80px;
}