body{
	display:none;
}
#jpreOverlay {
	background-color:#fdfdfd;
}
#jpreSlide{
}

#jpreLoader{
	/*background:url(logo_big.png) center top no-repeat;*/
	padding-top:0px;
	margin-top:-418px;
	width:100%;
	height:2px;
}
#jpreBar {
	border-radius:3px;
	background:transparent;
}
#jprePercentage {
	color:white;
	font-family:"Calibri";
	text-align:center;
	font-size:13px;
	line-height:2px;
	margin-top:20px;
}