@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*RESET OVER*/

body{background:url(../img/bbg.jpg);-webkit-user-select: none; -moz-user-select: none;-webkit-text-size-adjust: none;}
::selection{background:#ede7e2}

#loading{width:100%;height:100%;position:absolute;background:#fff;z-index:100000;}
#loading img{position:absolute;top:50%;left:50%;margin:-27px}

header h1{background:url(../img/logo_01.png) no-repeat;width:173px;height:272px;overflow:hidden;text-indent:-9999999px;position:fixed;left:0;top:0;z-index:10000;-moz-transition:0.4s;-webkit-transition:0.4s;}
header h1:hover{opacity:0.7;top:-5px}

nav{position:fixed;left:180px;top:9px;z-index:10000}
nav ul li{display:inline}
nav .link{text-indent:-9999999px;height:74px;display:block;overflow:hidden;float:left;}
nav .link:hover{background-position:0 -83px}
nav .link:focus{background-position:0 -157px;outline:0}
nav .nav01{width:82px;background:url(../img/logo_bnt_01.png) 0 -9px no-repeat;}
nav .nav02{width:93px;background:url(../img/logo_bnt_02.png) 0 -9px no-repeat;}
nav .nav03{width:86px;background:url(../img/logo_bnt_03.png) 0 -9px no-repeat;}
nav .nav04{width:111px;background:url(../img/logo_bnt_04.png) 0 -9px no-repeat;}
nav .nav05{width:79px;background:url(../img/logo_bnt_05.png) 0 -9px no-repeat;}
nav .nav06{width:125px;background:url(../img/logo_bnt_06.png) 0 -9px no-repeat;}

.musicplay{width:20px;height:20px;position:fixed;z-index:9999;top:10px;right:10px;overflow:hidden;background:url(../img/musicplay.gif) 0 0 no-repeat;box-shadow:0px 0px 2px rgba(0,0,0,0.2)}
.musicplay audio{opacity:0.01;position:absolute;top:-6px;left:-6px;top:-15px \9;left:-10px \9;cursor:pointer}
.musicplay b{background:url(../img/musicplay.gif) 0 -20px no-repeat;display:block;width:20px;height:20px;}
.gofls{line-height:20px;height:20px;padding:0 5px;color:#000;font-size:11px;position:fixed;z-index:9999;top:10px;right:31px;background:#fff;text-decoration:none;box-shadow:0px 0px 2px rgba(0,0,0,0.2)}

section{height:1000px;position:relative;width:100%;z-index:100;}
.abouttext{width:430px;font-size:11px;font-family: Times;color:#505050;line-height:20px;margin:auto;padding:10% 0 0 50px;background:url(../img/abouticon.png) 0 115px no-repeat;}
.abouttext p{margin:15px 0}
.abouttext b{font-size:17px;font-weight:bold}

#mainpt {overflow: hidden;position:absolute;z-index: 1000;width: 100%;height: 1000px;top:0;}
.bgdeer{width:95%;height:900px;position:absolute;z-index:10;top:0;}
.bgdeer img{margin:0 0 0 5%}
.bgchr{width:98%;height:950px;position:absolute;z-index:5;top:0;}
.bgchr img{margin:80px 0 0 66%}
.bgelp{width:96%;height:930px;position:absolute;z-index:6;top:0;}
.bgelp img{margin:120px 0 0 70%}

#mainpt{-webkit-animation-name: spopn;-moz-animation-name: spopn;-webkit-animation-duration: 1.5s;-moz-animation-duration: 1.5s;}
@-webkit-keyframes spopn {
  0% {top:-200px;opacity:0;}
  75% {top:5px;opacity:1;}
  100% {top:0;opacity:1;}
}
@-moz-keyframes spopn {
  0% {top:-200px;opacity:0;}
  75% {top:5px;opacity:1;}
  100% {top:0;opacity:1;}
}

#mainpt img{
-webkit-animation-iteration-count: infinite;
-webkit-transition-timing-function:ease;
-moz-animation-iteration-count: infinite;
-moz-transition-timing-function:ease;
}
.bgdeer img{-webkit-animation-name: spdr;-moz-animation-name: spdr;-webkit-animation-duration: 5s;-moz-animation-duration: 5s;}
.bgchr img{-webkit-animation-name: spcr;-moz-animation-name: spcr;-webkit-animation-duration: 5.6s;-moz-animation-duration: 5.6s;}
.bgelp img{-webkit-animation-name: spep;-moz-animation-name: spep;-webkit-animation-duration: 5.3s;-moz-animation-duration: 5.3s;}

@-webkit-keyframes spdr {
  0% {width:600px;height:900px}
  55% {width:580px;height:880px;margin-left:6%;}
  100% {width:600px;height:900px}
}
@-moz-keyframes spdr {
  0% {width:600px;height:900px}
  55% {width:580px;height:880px;margin-left:6%}
  100% {width:600px;height:900px}
}
@-webkit-keyframes spcr {
  0% {width:127px;height:189px}
  35% {width:125px;height:186px;-webkit-transform: rotate(-2deg) scale(1.05);}
  65% {-webkit-transform: rotate(5deg) scale(0.98);}
  100% {width:127px;height:189px}
}
@-moz-keyframes spcr {
  0% {width:127px;height:189px}
  55% {width:125px;height:186px;}
  100% {width:127px;height:189px}
}
@-webkit-keyframes spep {
  0% {width:398px;height:529px}
  55% {width:390px;height:518px;}
  100% {width:398px;height:529px}
}
@-moz-keyframes spep {
  0% {width:398px;height:529px}
  55% {width:390px;height:518px;}
  100% {width:398px;height:529px}
}


.bgwrm{background:url(../img/bgwrm.png) 0 2800px no-repeat;width:80%;height:800%;position:absolute;z-index:10;top:0;right:-30%;background-size:100%}
.bgwrm2{background:url(../img/bgwrm2.png) 0 1900px no-repeat;width:80%;height:800%;position:absolute;top:0;right:-30%;background-size:100%}
.bgjf{background:url(../img/bgjf.png) 0 3000px no-repeat;width:300px;height:1200%;position:absolute;z-index:10;top:0;left:5%;background-size:100%}
.bgplt{background:url(../img/bgplt.png) 0 1200px no-repeat;width:50%;height:1000%;position:absolute;z-index:1;top:0;left:-3%;background-size:100%}
.bgstr{background:url(../img/bgstr.png) no-repeat;width:100%;height:600%;position:absolute;z-index:5;top:0;background-size:100%}
.spbg01{background:url(../img/spbg01.png) no-repeat;width:30%;height:600%;position:absolute;top:0;right:0;background-size:100%}
.spbg02{background:url(../img/spbg02.png) 0 3000px no-repeat;width:100%;height:1000%;position:absolute;top:0;left:0;background-size:150%}
.spbg03{background:url(../img/spbg03.png) 0 600px no-repeat;width:40%;height:600%;position:absolute;top:0;right:10%;background-size:100%}
.spbg04{background:url(../img/spbg04.png) 0 500px no-repeat;width:70%;height:600%;position:absolute;top:0;right:5%;background-size:100%}
.spbg05{background:url(../img/spbg05.png) 0 100px no-repeat;width:100%;height:600%;position:absolute;top:0;background-size:100%}

.bgstr{
-webkit-animation-name: str;
-webkit-animation-duration: 4s;
-webkit-animation-iteration-count: infinite;
-webkit-transition-timing-function:ease;
-moz-animation-name: str;
-moz-animation-duration: 4s;
-moz-animation-iteration-count: infinite;
-moz-transition-timing-function:ease;
}
@-webkit-keyframes str {
  0% {opacity:1}
  55% {opacity:0.3}
  100% {opacity:1}
}
@-moz-keyframes str {
  0% {opacity:1}
  55% {opacity:0.3}
  100% {opacity:1}
}

.bgplt{
-webkit-animation-name: bgplt;
-webkit-animation-duration: 8s;
-webkit-animation-iteration-count: infinite;
-webkit-transition-timing-function:ease;
}
@-webkit-keyframes bgplt {
  0% {-webkit-filter: blur(0px);margin-top:0}
  60% {-webkit-filter: blur(10px);margin-top:5px}
  100% {-webkit-filter: blur(0px);margin-top:0}
}

.bgwrm{
-webkit-animation-name: bgwrm;
-webkit-animation-duration: 8s;
-webkit-animation-iteration-count: infinite;
-webkit-transition-timing-function:ease;
-moz-animation-name: bgwrm;
-moz-animation-duration: 8s;
-moz-animation-iteration-count: infinite;
-moz-transition-timing-function:ease;
}
@-webkit-keyframes bgwrm {
  0% {margin:0}
  55% {width:78%;height:798%;margin:0 0 0 2% 2%;}
  100% {width:80%;margin:0;height:800%}
}
@-moz-keyframes bgwrm {
  0% {margin:0}
  55% {width:78%;height:798%;margin:0 0 0 2% 2%;}
  100% {width:80%;margin:0;height:800%}
}

.bgwrm2{
-webkit-animation-name: bgwrm2;
-webkit-animation-duration: 12s;
-webkit-animation-iteration-count: infinite;
-webkit-transition-timing-function:ease;
-moz-animation-name: bgwrm2;
-moz-animation-duration: 12s;
-moz-animation-iteration-count: infinite;
-moz-transition-timing-function:ease;
}
@-webkit-keyframes bgwrm2 {
  0% {margin:0}
  55% {width:78%;margin:0 0 2% 2%}
  100% {margin:0}
}
@-moz-keyframes bgwrm2 {
  0% {margin:0}
  55% {width:78%;margin:0 0 0 2% 2%}
  100% {margin:0}
}


.bgjf{
-webkit-animation-name: bgjf;
-webkit-animation-duration: 25s;
-webkit-animation-iteration-count: infinite;
-webkit-transition-timing-function:ease;
-moz-animation-name: bgjf;
-moz-animation-duration: 25s;
-moz-animation-iteration-count: infinite;
-moz-transition-timing-function:ease;
}
@-webkit-keyframes bgjf {
  0% {background-position:0 3000px;background-size:100%;margin-top:0px}
  10% {background-position:0 2990px;background-size:99%;margin-top:0px}
  20% {background-position:0 3000px;background-size:100%;margin-top:-5px}
  30% {background-position:0 2990px;background-size:99%;margin-top:-10px}
  40% {background-position:0 3000px;background-size:100%;margin-top:-15px}
  50% {background-position:0 2990px;background-size:99%;margin-top:-20px}
  60% {background-position:0 3000px;background-size:100%;margin-top:-25px}
  70% {background-position:0 2990px;background-size:99%;margin-top:-30px}
  80% {background-position:0 3000px;background-size:100%;margin-top:-15px}
  100% {background-position:0 3000px;background-size:100%;margin-top:0px}
}
@-moz-keyframes bgjf {
  0% {background-position:0 3000px;background-size:100%;margin-top:0px}
  10% {background-position:0 2990px;background-size:99%;margin-top:0px}
  20% {background-position:0 3000px;background-size:100%;margin-top:-5px}
  30% {background-position:0 2990px;background-size:99%;margin-top:-10px}
  40% {background-position:0 3000px;background-size:100%;margin-top:-15px}
  50% {background-position:0 2990px;background-size:99%;margin-top:-20px}
  60% {background-position:0 3000px;background-size:100%;margin-top:-25px}
  70% {background-position:0 2990px;background-size:99%;margin-top:-30px}
  80% {background-position:0 3000px;background-size:100%;margin-top:-15px}
  100% {background-position:0 3000px;background-size:100%;margin-top:0px}
}

.allbg03{background:url(../img/allbg03.png) top no-repeat;width:100%;height:4000px;position:absolute;top:0;background-size:100%;z-index:1}

.works{width:800px;margin:auto;padding:10% 0 0 0;}
.works h2{background:url(../img/worksicon.png) no-repeat;height:20px;width:65px;overflow:hidden;text-indent:-999999px}
.works .wrkli{width:800px;height:450px;position:absolute;margin-top:10px}
.works .wrkli .slides_container {width:800px;height:450px;overflow:hidden;position:relative;display:none;}
.works .wrkli .slides_container li{width:800px;height:450px;display:block;}
.works li img{margin:5px;width:190px;float:left}
.works li img:hover{box-shadow:0 0 8px rgba(0,0,0,0.2)}
.works .pagination{position:absolute;right:0px;top:-20px;right:10px;z-index:10000}
.works .pagination li.current a{background:url(../img/mapnav.gif) 0 0px no-repeat;}
.works .pagination li{float:left;}
.works .pagination li a{width:15px;height:15px;display:block;background:url(../img/mapnav.gif) 0 -15px no-repeat;margin:2px;cursor:pointer;font-size:0;text-indent:-99999px;overflow:hidden}
.works .wrkli .prev{background:url(../img/arwrl.png) left no-repeat;width:45px;height:76px;display:block;position:absolute;top:187px;left:-45px}
.works .wrkli .next{background:url(../img/arwrl.png) right no-repeat;width:45px;height:76px;display:block;position:absolute;top:187px;right:-45px}
.works .wrkli .prev:hover,.works .wrkli .next:hover{opacity:0.5}

.works i{line-height:45px}
.works .clients li{width:180px;height:80px;float:left;display:block;margin:0 1px 1px 0}
.works .clients img{width:180px;height:80px;display:block;cursor:pointer;margin:0px;-webkit-transition:0.5s;-moz-transition:0.5s}
.works .clients img:hover{opacity:0.8}

.fullwork{z-index:20000;position:absolute;display:none;padding:10px;background:#f5f5f5;border-radius:10px;margin:10px 0 0 -60px;box-shadow:0px 1px 2px rgba(100,100,100,0.5)}
.fullwork .clz{background:url(../img/wkclz.png) no-repeat;display:block;cursor:pointer;height:25px;width:25px;margin:0 0 0 920px;position:absolute}
.fullwork iframe{height:440px;width:940px;}

.dldblk{width:400px;margin:auto;padding:10% 0 0 0;font-size:13px;line-height:27px;color:#000}
.dldblk a{margin:0 5px;color:#000;text-decoration:underline}
.dldblk a:hover{text-decoration:none}
.dldblk h2{background:url(../img/downloadicon.png) no-repeat;height:31px;width:97px;overflow:hidden;text-indent:-999999px}

#Map{height:1300px;}
.mapblk{width:760px;margin:auto;padding:10% 0 0 0}
.mapblk h2{background:url(../img/maptop.png) no-repeat;height:27px;width:258px;overflow:hidden;text-indent:-999999px;margin:0 0 -25px 116px}
.mapblk span{background:url(../img/picture_bg.png) no-repeat;width:760px;height:1217px;display:block;position:relative}
.mapblk .frame{width:542px;height:359px;position:absolute;top:37px;left:120px;}
.mapblk .frame #map_canvas{border:1px #ccc solid;width:540px;height:357px;}
.mapblk .frame .slides_container {width:542px;height:359px;overflow:hidden;position:relative;display:none;}
.mapblk .frame .slides_container li{width:542px;height:359px;display:block;}
.mapblk .pagination{position:absolute;right:0px;top:-33px;z-index:10000}
.mapblk .pagination li.current a{background:url(../img/mapnav.gif) 0 0px no-repeat;}
.mapblk .pagination li{float:left;}
.mapblk .pagination li a{width:15px;height:15px;display:block;background:url(../img/mapnav.gif) 0 -15px no-repeat;margin:2px;cursor:pointer;font-size:0;text-indent:-99999px;overflow:hidden}

.ctcblk{width:450px;font-size:12px;line-height:22px;margin:auto;padding:10% 0 0 0;position:relative;z-index:10}
.ctcblk h2{background:url(../img/contactusicon.png) no-repeat;height:34px;width:146px;overflow:hidden;text-indent:-999999px;}
.ctcblk h3{padding:0 0 0 12px}
.ctcblk h4{padding:5px 0 5px 12px}
.ctcblk h4 b{float:left;width:90px}
.ctcblk h4 input,.ctcblk h4 textarea{width:300px}
.ctcblk .smbtn{background:url(../img/mail.png) no-repeat;height:35px;width:35px;border:0;cursor:pointer;float:right;margin:-55px 5px 0 0}

.btmbg{width:100%;position:absolute;bottom:0}