
		body{
			background-color: #fdfdfd;
			overflow-y: hidden;
			min-width: 1000px;
		}
		
		iframe{
			position: relative;
			margin:0;
			padding:0;
			width: 100%;
		}


		#header{
			position: fixed;
			width: 100%;
			height: 165px;
			z-index: 400;
		}
		.header_bg{
			position: absolute;
			background-color: #f4f4f4;
			height: 100%;
			width: 100%;
		}
		#header .menu{
			position: relative;
			margin: 0 auto;
			top:25px;
			width: 1000px;
			height: 100px;
			left:-8px;
		}
	
		#header .nav {
			position: relative;
			display: inline;
			float: left;
			letter-spacing: 1.5px;
			margin: 25px;
			padding: 10px;
			text-decoration: none;
			top:40px;
			left: 35px;
			font-family: 'Raleway', sans-serif;
			font-size: 16.5px;
			color: #3a3e43;
		}

		/*ie10的hack*/
		#header .nav {left: 52px\0/;}
		#header .nav {padding-right: 20px\0/;}
		/*ie10的hack*/


		#header .nav:hover,#header .nav.acted{
			border-bottom: 1px solid #5e6671;
		}
		#header .hover_none{
			color: transparent;
		}
		#header .hover_none:hover{
			border-bottom: 1px solid transparent;
		}
		#header .nav .text a{
			text-decoration: none;
			color: #3a3e43;
		}
		#header .menu #nav_logo{
			position: absolute;
			width: 150px;
			height: 230px;
			left: 415px;
		-webkit-animation: logo_move 2s;
			-o-animation: logo_move 2s;
			animation: logo_move 2s;
		}
		@-webkit-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@-o-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@-moz-keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		@keyframes logo_move {
			0% { top:-20px;opacity: 0; }
			40% { top:-20px;opacity: 0; }
			100% { top:0px;opacity: 1; }
		}
		#header .menu #nav_logo img{
			position: relative;
			margin: 0 auto;
		}
		#header_outbox{
			position: relative;
			height: 165px;
			width: 100%;

		}
		#container{
			position: absolute;
			width: 100%;
			top:165px;
			overflow: scroll;
			overflow-x:hidden;
		}
		#container .fakebox{
			position: relative;
			width: 1000px;
			padding-top: 85px;
			margin: 0 auto;
			overflow: hidden;

		}



		#container .info {
			opacity: 1;
			-webkit-animation: infofadein 2.5s;
			-o-animation: infofadein 2.5s;
			animation: infofadein 2.5s;

		}
		@-webkit-keyframes infofadein {
			0% { opacity: 0;}
			30% { opacity: 0;}
			100% { opacity: 1; }
		}
		@-o-keyframes infofadein {
			0% { opacity: 0;}
			15% { opacity: 0;}
			100% { opacity: 1; }
		}
		@-moz-keyframes infofadein {
			0% { opacity: 0;}
			15% { opacity: 0;}
			100% { opacity: 1; }
		}
		@keyframes infofadein {
			0% { opacity: 0;}
			15% { opacity: 0;}
			100% { opacity: 1; }
		}
		#container .item img {
			position: relative;
			top:0px;
			opacity: 1;
			-webkit-animation: fadein 1.5s;
			-o-animation: fadein 1.5s;
			animation: fadein 1.5s;

		}
		@-webkit-keyframes fadein {
			0% { opacity: 0;top:-20px;}
			20% { opacity: 0;top:-20px;}
			100% { opacity: 1; top:0px;}
		}
		@-o-keyframes fadein {
			from { opacity: 0;top:-20px;}
			to { opacity: 1;top:0px;}
		}
		@-moz-keyframes fadein {
			from { opacity: 0;top:-20px;}
			to { opacity: 1; top:0px;}
		}
		@keyframes fadein {
			from { opacity: 0;top:-20px;}
			to { opacity: 1;top:0px;}
		}
		
		
		#container .item{
			position: relative;
			float: left;
			padding-left: 5px;
			padding-right: 5px;
			padding-top:35px;
			padding-bottom: 35px;
		}
		#container .item .pic img{
			border-style: solid;
			border-color: #dadada;
			border-width: 1px;
		}
		#container .item .info{
			position: relative;
			width: 300px;
			height: 80px;
			top:20px;
			margin: 0 auto;
		}
		#container .item .info .title{
			position: relative;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 27pt;
			color: #3a3e43;
			letter-spacing: 3px;
			text-align: center;

		}
		#container .item .info .title span{
			font-family: Microsoft JhengHei,arial,sans-serif;
			font-size: 10pt;
			color: #303030;
			letter-spacing: 3px;

		}
		#container .item .item_content .work_hit{
			position: absolute;
			width: 315px;
			height: 255px;
			top:35px;
			left:5px;
			background-color: #fdfdfd;
			opacity: 0;
			filter: alpha(opacity=0);
			transition:0.7s ease;
		}
		#container .item .item_content .work_hit:hover{
			opacity: 0.5;
			filter: alpha(opacity=50);
		}
		#container #topicon{
			position: relative;
			width: 100%;
			height: 120px;
			clear: both;
			text-align: center;
			line-height: 25px;
			
		}
		#topicon img{
			position: absolute;
			left:50%;
			top:40%;
			margin-left: -35px;
			margin-top: -15px;
			cursor: pointer;
		}

		#close{
			position: absolute;
			top:50px;
			right:50px;
			width: 35px;
			height: 29px;
			display: none;
			background-image: url(close_both.png);
			z-index: 5;
		}

		#test{
			position: absolute;
			top: 1500px;
		}