body{
			background-color: #fdfdfd;
			overflow-y: hidden;
			min-width: 768px;
		}
#header{
			position: fixed;
			width: 100%;
			height: 80px;
			z-index: 400;
			transition:0.5s ease;
		}
.header_bg{
			position: absolute;
			background-color: #f4f4f4;
			height: 100%;
			width: 100%;
		}
#header .menu{
			position: relative;
			margin: 0 auto;
			top:25px;
			width: 450px;
			height: 80px;
			background-color: orange;
		}
#header .nav {
			position: relative;
			display: inline;
			float: left;
			letter-spacing: 1.5px;
			margin: 5px;
			padding: 7px;
			text-decoration: none;
			font-family: 'Raleway', sans-serif;
			font-size: 15px;
			color: #3a3e43;
		}
.hover_none{
	display: none!important;
}

#nav_logo{
	display: none!important;

}